<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link href="css/style.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="css/gs.css" media="screen" rel="stylesheet" type="text/css" />

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

        <script type="text/javascript" src="js/jquery.stalactite.min.js"></script>
        <script type="text/javascript">
          $(function() {

            $('#static-example').stalactite({
              fluid: false
            });
            updateLoader();

            function updateLoader(callback) {
              setTimeout(function() {
                $('.stalactite-loader')
                  .css({
                    position: 'fixed',
                    background: '#fff',
                    padding: '20px 20px 15px 20px',
                    top: 0,
                    left: 0
                  });
                  if (callback) {
                    callback.call(this);
                  }
              }, 1);
            }

          });

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-5927630-16']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
    </script>

    </head>
    <body>

      <div class="container_9 section">
        <h1>{{ site.name }}</h1>
      </div>
      {{ content }}

    </body>
</html>
